
.a1 {
    grid-area: a1; 
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

.a5 {
    grid-area: a5;
}

.a6 {
    grid-area: a6;
}

.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "a1 "
    "a2"
    "a4 . a6"
    ;
}